{% extends 'base.html' %}
{% load static %}

{% block title %}Guidelines{%endblock %}

{% block content %}
<div class="container">
  <div class="text-center mb-4">
    <h2 class="display-4">CAL Lab Guidelines</h2>
    <h4 class="lead">
      All Users are requested to follow the guidelines mentioned below
    </h4>
  </div>

  <hr class="my-4" />

  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <ol class="list-group">
        <li class="list-group-item">
          You must have online credentials to book slots online.
        </li>
        <li class="list-group-item">
          New users are periodically updated from our end. In case, you are new
          and not yet listed, you can get the online credentials by writing an
          email to
          <a href="mailto:cal-online@hyderabad.bits-pilani.ac.in">
            cal-online@hyderabad.bits-pilani.ac.in</a>.
        </li>
        <li class="list-group-item">
          Book the instrument in advance & ask the technician to release
          respective slots online.
        </li>
        <li class="list-group-item">
          After using the instrument, entry of your usage details in the Log
          Book is compulsory.
        </li>
        <li class="list-group-item">
          Clean your work premises after your work is done.
        </li>
        <li class="list-group-item">
          Check for free slots with the technician well in advance.
        </li>
        <li class="list-group-item">
          Sophisticated equipment will be handled by technicians only, please
          follow the protocol.
        </li>
        <li class="list-group-item">
          User should submit samples well in advance to the technician before
          the booked slot.
        </li>
        <li class="list-group-item">
          CAL Lab has to be acknowledged in all public documents and
          presentations.
        </li>
        <li class="list-group-item">
          A copy of the peer reviewed publication arising out of data from CAL
          Lab should be emailed to
          <a href="mailto:cal@hyderabad.bits-pilani.ac.in">
            cal@hyderabad.bits-pilani.ac.in</a>
          as soon as it is available.
        </li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
