{% extends 'instrument_form_base.html' %}

{% block title %} {{ instrument_title }} {% endblock %}
{% block subtitle %} {{ instrument_subtitle }} {% endblock %}

{% block content %}
{% if not edit %}
<div class="card-text" style="text-align: center;">
    <h6>
        <strong>
            Status of your Application:
        </strong>
        {% if status == 'R1' %}  Waiting for Faculty Approval
        {% elif status == 'R2' %} Waiting for Lab Assistant Approval
        {% elif status == 'R3' %} Approved
        {% elif status == 'R4' %} Rejected
        {% elif status == 'R5' %} Cancelled
        {% endif %}
    </h6>
</div>
{% endif %}

{% if edit %}
<form action="" method="POST">
{% elif user_type != 'student' %}
<form action={% url 'add_remarks' id=id %} method="POST">
{% endif%}
    <script>
        $('form').submit(function(e) {
                $(':disabled').each(function(e) {
                    $(this).removeAttr('disabled');
                })
            });
    </script>
    {% csrf_token %}
    {{ form.as_p }}
    <p style="text-align: justify;">
        {{ form_notes | safe }}
    </p>
    <div style="text-align: center;">
    {% if edit %}
        <p>Cost per sample: <span id="id_cost_per_sample">{{ cost_per_sample }}</span></p>
        <p>Total cost: <span id="id_total_cost"></span></p>
        <input type="submit" class="btn btn-primary" value="Submit">
    {% else %}
      <input type="submt" class="btn btn-secondary" onclick="window.print()" value="Download PDF">
    {% endif %}

    {% if user_type != 'student' %}
        <input type="submit" class="btn btn-primary" value="Add Your Remarks">
    </div>
    {% endif %}
</form>
{% endblock %}

{% block facility %} {{ instrument_verbose_name }} {% endblock %}
{% block script %}
<script>
    function calculateTotalPrice() {        
        var numberOfSamples = parseFloat(document.getElementById('id_number_of_samples').value);
        var costPerSample = parseFloat(document.getElementById('id_cost_per_sample').textContent);
        var totalPriceField = document.getElementById('id_total_cost');
                
        if (!isNaN(numberOfSamples) && !isNaN(costPerSample)) {
            if(numberOfSamples <= 0) {
                totalPriceField.textContent = "Choose a valid number of samples"
            }else {
                totalPriceField.textContent = (numberOfSamples * costPerSample).toFixed(2);
            }
        } else {
            totalPriceField.textContent = 'NA';
        }
    }
    calculateTotalPrice()
    document.getElementById('id_number_of_samples').addEventListener('input', calculateTotalPrice);
    document.getElementById('id_number_of_samples').addEventListener('change', calculateTotalPrice);
</script>
{% endblock script %}
